.header-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: black;
  /* transition: background-color 1s; */
  position: fixed;
}

.header-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: black;
  /* transition: background-color 1s; */
  position: fixed;
}

.header-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: black;
  /* transition: background-color 1s; */
  position: fixed;
}

.header-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: black;
  /* transition: background-color 1s; */
  position: fixed;
}

a {
  text-decoration: none;
  font-size: 20px;
  width: 85px;
  margin: 20px;
  border: 0px solid black;
  color: greenyellow;
  transition: border-bottom .3s, width .3s;
}

a:hover {
  cursor: pointer;
  border-bottom: 1px solid greenyellow;
}

.selected {
  border-bottom: 1px solid greenyellow;
}