@font-face {font-family: HolyDiver; src: url('../customFonts/holy-diver/holy-diver-nes.ttf');}

.header-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: black;
  /* transition: background-color 1s; */
  font-family: HolyDiver;
}

.header-home a {
  text-decoration: none; /* remove this if revert to button */
  font-size: 20px; /* remove this if revert to button */
  width: 75px;
  margin: 15px;
  background-color: black;
  border: 0px solid black;
  color: greenyellow;
  transition: border-bottom .3s, width .3s;
}

.header-home a:hover {
  cursor: pointer;
  border-bottom: 1px solid greenyellow;
}

.header-home .selected {
  border-bottom: 1px solid greenyellow;
}

.header-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  /* transition: background-color 1s; */
}

.header-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  /* transition: background-color 1s; */
}

.header-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  /* transition: background-color 1s; */
}

button {
  width: 75px;
  margin: 15px;
  background-color: white;
  border: 0px solid white;
  transition: border-bottom .3s, width .3s;
}

button:hover {
  cursor: pointer;
  border-bottom: 1px solid red;
}

.selected {
  border-bottom: 1px solid red;
}