@font-face {font-family: HolyDiver; src: url('../customFonts/holy-diver/holy-diver-nes.ttf');}
@font-face {font-family: MONO; src: url('../customFonts/mononokekeh/mononokekeh.ttf');}

.homepage {
  background-color: black;
  color: greenyellow;
  transition: background-color 1s, color 1s;
}

.homepage h1 {
  font-family: HolyDiver;
  font-size: calc(50px + (100 - 50) * ((100vw - 300px) / (1600 - 300))); /* dynamic font resize with window */
  font-weight: normal;
}

.homepage h2 {
  font-family: MONO;
  font-size: 100px;
  font-weight: normal;
}