@font-face {font-family: MONO; src: url('../customFonts/mononokekeh/mononokekeh.ttf');}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  color: greenyellow;
  min-height: 100vh;
  /* transition: background-color 1s, color 1s; */
}

.homepage h2 {
  font-family: MONO;
  font-size: 100px;
  font-weight: normal;
}