.accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  max-width: 500px;
  border-bottom: 1px solid #fdff00;
}

.accordion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  max-width: 500px;
  border-bottom: 1px solid #fdff00;
  position: relative;
}

.project-cta {
  text-decoration: underline;
  margin: 15px auto;
  height: 30px;
  max-width: 400px;
  min-width: 200px;
  color: #fdff00;
  border-radius: 3px;
  transition: color .3s;
}

.project-cta:hover {
  cursor: pointer;
  color: white;
}

.fa-plus {
  transition: transform .3s, color .3s;
  margin-top: 25px;
}

.fa-plus:hover {
  cursor: pointer;
  color: white;
}

#open {
  transform: rotate(45deg);
}