.accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  max-width: 500px;
  border-bottom: 1px solid #fdff00;
}

.accordion-drawer-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 500px;
  border-bottom: 1px solid #fdff00;
}

.project-cta {
  text-decoration: none;
  margin: 15px auto;
  height: 30px;
  max-width: 400px;
  min-width: 200px;
  background-color: #ff0002;
  color: black;
  border-radius: 3px;
}

.project-cta:hover {
  cursor: pointer;
  background-color: #00ff03;
}