.about {
  color: #ff0002;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.about-headline {
  max-width: 575px;
  margin: auto;
}

.about a {
  color: #ff0002;
  font-size: 20px;
}

.about a:hover {
  color: white;
}

@media (max-width: 420px) {
  .about {
    min-height: 150vh;
    width: 100vw;
  }
}