.close-button-container {
  display: flex;
  flex-direction: row-reverse;
}

.nav-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
  margin-bottom: 20px;
}

.fa-close {
  margin: 10px;
  font-size: 25px;
}

.open-burger-home {
  background-color: #00ff03;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.open-burger-home a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.open-burger-about {
  background-color: #ff0002;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.open-burger-about a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.open-burger-projects {
  background-color: #fdff00;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.open-burger-projects a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.open-burger-contact {
  background-color: #01fffe;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.open-burger-contact a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}