.footer-home {
  background-color: black;
  margin-bottom: 20px;
  box-shadow: 0 50vh 0 50vh #000; /* creates illusion that footer extends to bottom of the page */
}

.footer-home a {
  margin: 10px;
  color: greenyellow;
}

.footer-about {

}

.footer-projects {

}

.footer-contact {

}